*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 1600px;
    display: grid;
    grid-template-columns: .5fr 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr auto;
}

header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    grid-column: 2/-1;
    grid-row: 1/2;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.logo{
    height: 60px;
    width: 20%;
    display: flex;
    align-items: center;
}

.search-mic{
    height: 60px;
    width: 60%;
    display: flex;
    align-items: center;
}

.search{
    height: 40px;
    width: 70%;
    border: 1px #3e3d3d solid;
    border-radius: 40px 0px 0px 40px;
}

.search:focus{
    outline: 1px solid blue;
}

.search input{
    height: 36px;
    width: 90%;
    margin-left: 16px;
    margin-top: 2px;
    border: none;
    outline: none;
    color: white;
}

.search input::placeholder{
    font-size: 15px;
}

.search-mic button{
    height: 40px;
    width: 70px;
    border: 1px #3e3d3d solid;
    border-radius: 0 40px 40px 0;
}

.mic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.icons-section{
    height: 60px;
    width: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons{
    height: 35px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu section starts Here */
.menu-section{
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.menu-section p{
    font-family:  Roboto, Arial, sans-serif;
    font-size: 10px;
}

/* Interest Topic Section */
.interest-section{
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2/-1;
    grid-row: 2/3;
    position: sticky;
    top: 60px;
    cursor: pointer;
}

.interest-divs{
    height: 35px;
    width: auto;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    
}

.interest-divs p{
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    color: rgb(216, 216, 216);
}

/* Main section starts Here */
.main-section{
height: 1600px;
width: 100%;
grid-column: 2/-1;
grid-row: 3/-1;
}

.rows{
height: 400px;
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.cards{
    height: 350px;
    width: 30%;
    cursor: pointer;
}

.video{
    width: 100%;
    height: 270px;
}

.video-title{
    height: 80px;
    width: 100%;
    display: flex;
}

.profile-pic{
    height: 100%;
    width: 13%;
}

.profile-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.title{
    height: 100%;
    width: 80%;
    padding: 0px 10px;
}

.title h3{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 600;
}

.title p{
    font-size: 13px;
    color: #b6b3b3;
    font-weight: 300;
    margin-top: 5px;
}